@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

div.column {
	display: inline-block;
	width: 43%;
	height: 100%;
	border: dashed grey 2px;
	border-radius: 20px;
}

div.column-mid {
	width: 4%;
	vertical-align: top;
	font-size: 2.5em;
	font-weight: bold;
	overflow: hidden;
	text-align: center;
	border: 0; 
	
}
div.quarter-screen.top {
	min-height: 40%;
}
div.quarter-screen.bottom {
	min-height: 60%;
}




h2 {
	padding-left: 6em;
}

h4 {
	padding-left: 3em;
}

label {
	display: inline-block;
	width: 5em;
}
